@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap");
body {
  background-color: #121212;
}
* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
/* Styles for the wisha logo container */
.wishaLogoContainer {
  position: absolute;
  top: calc(50% - 42.5px);
  left: calc(50vw - 62px);
}
@media screen and (min-width: 440px) {
  .wishaLogoContainer {
    transform: scale(2);
    left: calc(50vw - 43px);
  }
}
.textBox {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background-color: blue;
}
.wishaLogo {
  position: relative;
  left: -25px;
}
.wishaLetter {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 2.5px;
}
.wishaLogoText {
  overflow: hidden;
}
.navBarContainer {
  position: relative;
  text-align: right;
  padding-right: 4px;
  padding-top: 5px;
  margin: 0 auto;
  max-width: 1280px;
}
.wishaLogoHome {
  position: absolute;
  left: -16px;
  top: 17px;
}
@media screen and (min-width: 440px) {
  .wishaLogoHome {
    transform: scale(1.3);
  }
}
@media screen and (min-width: 740px) {
  .wishaLogoHome {
    top: 24px;
  }
}
/* Styles for the navigation button on mobile devices */
.navButton {
  background-color: transparent;
  transform: rotateY(180deg);
  box-shadow: 0;
  border: 0;
}
@media screen and (min-width: 1024px) {
  .navButton {
    display: none;
  }
}

.navButton .navRect {
  /* width: 40px; */
  height: 4.5px;
  background-color: white;
  border: 0;
  border-radius: 2.5px;
  margin-bottom: 6px;
}
.navRect:nth-of-type(1) {
  width: 40px;
}
.navRect:nth-of-type(2) {
  width: 27.1px;
}
.navRect:nth-of-type(3) {
  width: 14.19px;
}

/* Section for the nav links on mobile*/
.navLinkSection {
  padding-left: 0;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  position: relative;
  top: -20px;
}
.navLinkSection li {
  color: white;
  list-style-type: none;
  font-size: 44px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.navWishaLogoText {
  position: absolute;
  color: white;
  left: 75px;
  font-size: 24px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  top: 4px;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 740px) {
  .navWishaLogoText {
    top: 11px;
  }
}

/* Desktop Navigation bar styles */
.desktopNav ul {
  list-style-type: none;
  margin-top: 0;
}
.desktopNav ul li,
.desktopNav ul button {
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  margin-right: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.2s;
}
@media screen and (min-width: 940px) {
  .desktopNav ul li {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1100px) {
  .desktopNav ul li {
    margin-right: 65px;
  }
}
.desktopNav ul li:hover {
  color: white;
  cursor: pointer;
}
.desktopNav ul button {
  padding: 12px 10px;
  color: black;
  background-color: white;
  border: 0;
  border-radius: 13px;
}
@media screen and (max-width: 1024px) {
  .desktopNav {
    display: none;
  }
}
.blur {
  width: 100%;
  max-width: 380px;
  max-height: 300px;
  margin: 0 auto;
  height: 40vh;
  border-radius: 15rem;
  margin: 0 auto;
  background: linear-gradient(180deg, #ef516d 0%, rgba(239, 81, 109, 0) 100%),
    radial-gradient(
      94.51% 124.88% at 94.32% 94.43%,
      rgba(65, 244, 255, 0.78) 0%,
      rgba(131, 218, 255, 0.6552) 32.29%,
      rgba(99, 175, 240, 0.3978) 64.06%,
      rgba(43, 90, 211, 0) 100%
    ),
    linear-gradient(313.04deg, #341d65 0.93%, #604aea 125.68%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(100px);
}
.header {
  font-size: 40px;
  color: white;
  font-family: "Encode Sans", sans-serif;
  font-weight: 800;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 20px;
  line-height: 3.5rem;
}
.text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Enconde ", sans-serif;
  padding: 0 20px;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto 30px;
  /* bottom: 210px; */
}
@media screen and (min-width: 1024px) {
  .header {
    font-size: 70px;
    margin-bottom: 43px;
    margin-top: 0;
    padding: 0;
  }
  .text {
    font-size: 21px;
    max-width: 680px;
    margin-bottom: 0;
  }
}
.gradientText {
  background-color: red;
  background-image: linear-gradient(45deg, #ae4a9f, #c3203d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: inline-block;
  position: relative;
}
.gradientText::before {
  content: url("./images/underline.svg");
  position: absolute;
  bottom: -15px;
  right: 7px;
  transform: scale(0.92);
  width: 120px;
}
.gradientText::after {
  content: url("./images/exclamation.svg");
  position: absolute;
  right: -17px;
  transform: scale(0.85);
}
@media screen and (min-width: 1024px) {
  .gradientText::before {
    transform: scale(1.6);
    bottom: -5px;
    right: 50px;
  }
  .gradientText::after {
    transform: scale(1.5);
    right: -35px;
  }
}
.giftSvg {
  position: absolute;
  top: calc(50% - 114px);
  /* bottom: 200px; */
}
@media screen and (min-width: 1024px) {
  .giftSvg {
    transform: scale(1.3);
  }
}
.giftContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rocketContainer {
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 50%;
  margin-bottom: 25px;
}
.waitlistButton {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 25px;
  z-index: 1;
  position: relative;
  margin-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .waitlistButton {
    font-size: 29px;
    padding: 18px 80px;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
/* Styles for the wait-list form */
.waitListForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 39px;
  background-color: #1a1a1a;
  position: relative;
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 330px;
  margin-top: 90px;
  margin-bottom: 50px;
}
@media screen and (max-width: 358px) {
  .waitListForm {
    margin: 90px 15px;
  }
}
@media screen and (min-width: 1024px) {
  .waitListForm {
    max-width: 600px;
    padding: 60px 20px;
  }
  .formInput,
  .submitButton {
    max-width: 480px;
  }
  .rocketContainer {
    transform: scale(1.35);
  }
}
.waitListForm .description {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 35px;
}
.formInput {
  padding: 15px;
  border-radius: 21px;
  border: 0;
  background-color: rgba(196, 196, 196, 0.1);
  width: 100%;
  font-size: 16px;
  height: 54px;
  color: rgba(255, 255, 255, 0.5);
}
.formInput:focus {
  outline: 0;
}
.submitButton {
  padding: 15px;
  border-radius: 21px;
  border: 0;
  background-color: rgba(196, 196, 196, 0.1);
  width: 100%;
  font-size: 18px;
  height: 54px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: white;
  background-image: linear-gradient(45deg, #ae4a9f, #c3203d);
}
@media screen and (min-width: 1024px) {
  .formInput,
  .submitButton {
    font-size: 23px;
    padding: 25px 30px;
    height: 75px;
    border-radius: 28px;
  }
  .formInput {
    margin-top: 40px;
  }
  .submitButton {
    margin-top: 50px;
  }
  .waitListForm .description {
    margin-top: 30px;
  }
}
.errorText {
  color: red;
  display: block;
  font-size: 14px;
  margin-top: 20px;
}
/* Styles for the different types of containers */
@media screen and (min-width: 1024px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    margin-top: 190px;
    margin-bottom: 180px;
  }
  .textWithButtonContainer {
    justify-self: flex-start;
  }
}
.homePage {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
/* Styles for the finger image */
.finger {
  position: absolute;
  transform: scale(0.7);
  top: -100px;
  left: 305px;
}
@media screen and (max-width: 1200px) {
  .finger {
    display: none;
  }
}
/* TODO: add a max width to all the containers */
